* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}
html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

body {
  display: flex;
  scroll-snap-type: y mandatory; /* Snapper til vertikal scrolling */
  overflow-y: scroll;
  scroll-behavior: smooth;
  min-height: 100svh;
  font-family: "Roboto Slab", serif;
  /* width: 100%; */
}

header {
  width: 100%;
  display: flex;
  /* position: fixed; */
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #951111;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  overflow-y: auto;
  max-height: 100vh;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: #181718;
  transition: color 0.6s ease; /* Smooth color transition */
}

a:hover {
  color: #e97d35;
  animation: textPulseGlow 2.5s infinite; /* Apply pulsating glow animation */
}

/* Pulsating effect on hover */
@keyframes textPulseGlow {
  0% {
    text-shadow: 0 0 14px rgba(233, 125, 53, 0.8),
      0 0 20px rgba(233, 125, 53, 0.6);
  }
  50% {
    text-shadow: 0 0 25px rgba(233, 125, 53, 0.2),
      0 0 30px rgba(233, 125, 53, 0.8);
  }
  100% {
    text-shadow: 0 0 10px rgba(233, 125, 53, 0.8),
      0 0 20px rgba(233, 125, 53, 0.6);
  }
}

ul {
  display: flex;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  column-gap: 20px;
  color: #181718;
  padding-right: 30px;
}

li {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding-right: 3rem;
}

.highlight {
  font-size: 1.9rem;
  color: #951111;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.highlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%; /* Start the line off-screen to the left */
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent 45%,
    rgba(0, 150, 50, 0.6), /* Semi-transparent green line */
    transparent 60%
);

  animation: radarScan 5s linear infinite; /* Adjust timing as desired */
}

.highlight.delay-1::before {
  animation-delay: 0.3s; /* Adjust as needed */
}

.highlight.delay-2::before {
  animation-delay: 1.2s;
}

.highlight.delay-3::before {
  animation-delay: 4s;
}

.highlight.delay-4::before {
  animation-delay: 7s;
}

@keyframes radarScan {
  0% {
    left: -100%; /* Start off-screen */
  }
  100% {
    left: 100%; /* End off-screen on the right */
  }
}


section {
  display: flex;
  /* width: 100%; */
  scroll-snap-align: start; /* Snapper hver seksjon til toppen */
  min-height: 100vh; /* Sørger for at hver seksjon fyller hele skjermen */
  min-width: 100vw;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 2rem;
  padding: 20px 40px;
  background-color: hsla(240, 96%, 9%, 50%);
  color: antiquewhite;
  border-radius: 50px;
  letter-spacing: 0.6px;
}

h3 {
  font-size: 2rem;
  margin-bottom: 60px;
  text-align: center;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 60px;
  text-align: center;
}

h5 {
  font-size: 1.5rem;
  color: antiquewhite;
  margin-bottom: 10px;
  text-align: center;
  padding-left: 30px;
}

p {
  font-size: 0.8rem;
  letter-spacing: 0.6px;
  line-height: 1.2;
  margin: 20px 20px 80px 20px;
}

.sun-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

.sun-container p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
}

.asteroid-text p {
  color: aliceblue;
  background-color: rgba(149, 17, 17, 0.6);
  border-radius: 100px;
  width: 300px;
  padding: 30px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.gas-giants p {
  display: flex;
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 1.2;
  margin: 20px 20px 20px 20px;
}

.end-credits {
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 130px;
  background-image: url(./assets/space_bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: aliceblue;
}

code {
  color: crimson;
  padding: 2px;
  font-size: 105%;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: aliceblue;
  width: 100%;
  /* background-color: rgb(0, 22, 5); */
}

#the_sun {
  color: aliceblue;
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./assets/sun_ball.png);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  /* height: 100%; */
}

#the_sun h3 {
  animation: sunTextPulse 10s infinite;
}

@keyframes sunTextPulse {
  0% {
    font-size: 1.2em;
  }
  50% {
    font-size: 1.3em;
  }
  100% {
    font-size: 1.2em;
  }
}

#the_sun p {
  display: flex;
  flex-wrap: wrap;
  color: aliceblue;
  font-size: clamp(0.5rem, 1rem, 3rem);
  /* background-color: rgba(233, 125, 53, 0.8); */
  border-radius: 20px;
  animation: backgroundColorPulse 3s infinite;
}

@keyframes backgroundColorPulse {
  0% {
    background-color: rgba(195, 14, 4, 0.8);
  }
  50% {
    background-color: rgba(233, 125, 53, 0.6);
  }
  100% {
    background-color: rgba(195, 14, 4, 0.8);
  }
}

.bg-img {
  /* min-height: 100vh; */
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-attachment: fixed;
  display: grid;
  place-items: center;
}

.bg-video {
  position: relative;
  min-width: 100vw; /* Ensure it covers the full screen height */
  display: flex;
  justify-content: center;
  align-items: center;
}

#bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(2px);
  pointer-events: none;
}

#bgVideo2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

#first {
  background: url(./assets/bassfilm.mp4);
  background-size: cover;
}

#eight_planets {
  display: flex;
  background-image: url(./assets/solar_system.jpg);
  background-size: cover;
  background-position: right;
  background-color: black;
}

#eight_planets h1 {
  /* padding-top: 20rem; */
  font-size: clamp(0.5rem, 1rem, 3rem);
  margin-top: 20rem;
}

#rocky_planets {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
  background-image: url(./assets/space_bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

#gas-giants {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  padding-top: 130px;
  background-image: url(./assets/space_bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: auto;
}

@media (max-width: 800px) {
  nav {
    flex-direction: column;
    padding: 10px;
    max-height: 100vh; /* Prevents the navbar from exceeding screen height */
    overflow-y: auto; /* Allows scrolling within the navbar if needed */
  }

  ul {
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Reduce gap for mobile */
    width: 100%;
  }

  li {
    font-size: 1rem; /* Increase readability */
    padding: 5px 0; /* Add spacing between items */
  }

  /* Adjust title font size */
  h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
}

#planet_display {
  flex-direction: column;
  align-items: center;
}
#planet_display > div {
  margin-bottom: 20px;
}

#planet_display {
  display: flex;
  flex-direction: row;
  /* align-content: center; */
  justify-content: space-around;
  gap: 40px;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
}

#planet_display p {
  font-size: 0.8rem;
  width: 50vw;
  color: #00d073;
}

#end_credits {
  background-image: url(./assets/videos/nightsky.mp4);
  background-size: cover;
}

.paragraph-container {
  padding: 20px 20px 20px 20px;
  display: flex;
  min-width: 200px;
}

.paragraph-container a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.planets {
  max-height: 100px;
  animation: levitate 3s ease-in-out infinite;
}

@keyframes levitate {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-5px, -5px); /* Move left and up */
  }
  50% {
    transform: translate(5px, -10px); /* Move right and up */
  }
  75% {
    transform: translate(-5px, -5px); /* Move left and down */
  }
}

.planets:hover {
  transform: scale(2);
}

/* De-sync animations for individual planet feeling */
.planets:nth-child(1) {
  animation-delay: 0s;
}

.planets:nth-child(2) {
  animation-delay: 0.5s;
}

.planets:nth-child(3) {
  animation-delay: 1s;
}

.planets:nth-child(4) {
  animation-delay: 1.5s;
}

/* Specific for smartphone */
@media (max-width: 600px) {
  #bgVideo {
    height: 100%;
  }

  #rocky_planets,
  #gas-giants {
    background-size: auto 50%;
    background-position: center top;
    background-attachment: scroll;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 5px;
  }

  ul {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  li {
    flex-direction: row;
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 1.2rem;
    padding: 10px 20px;
  }

  a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 1rem; /* Adjust link font size for mobile */
  }

  p {
    font-size: 1rem;
    padding: 10px 0;
  }

  code {
    font-size: 1rem;
  }
  article {
    display: flex;
    width: 95%;
    padding: 10px;
    justify-content: center;
  }

  .bg-img {
    background-size: contain;
    background-position: center;
    background-attachment: scroll;
  }
}

#Mercury,
#Venus,
#Earth,
#Mars,
#Jupiter,
#Saturn,
#Uranus,
#Neptune {
  position: relative;
  border: solid 2px #039553;
  background-color: rgba(51, 41, 167, 0.2);
  border-radius: 50%;
  width: 500px; /* Adjust for the size of the planets */
  height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.8),
    inset 0px 0px 10px rgba(255, 255, 255, .2); /* Shadow for a glassy effect */
  backdrop-filter: blur(4px) contrast(1.2); /* Optional: blur and contrast for glassy effect */
}

/* Lens effect inside the "planet" */
#Mercury::before,
#Venus::before,
#Earth::before,
#Mars::before,
#Jupiter::before,
#Saturn::before,
#Uranus::before,
#Neptune::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  border-radius: 50%;
  background: inherit; /* Use the same background as the planet for seamlessness */
  transform: translate(-50%, -50%) scale(.7); Increase scale for magnification
  background-size: 150% 150%; /* Adjust to scale up the background for magnification */
  background-position: center;
  z-index: 1;
  opacity: 0.8;
  pointer-events: none;
}

/* Adding grid lines for a lens scope effect */
#Mercury::after,
#Venus::after,
#Earth::after,
#Mars::after,
#Jupiter::after,
#Saturn::after,
#Uranus::after,
#Neptune::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    /* Horizontal grid lines */ linear-gradient(
      #029c1633 1px,
      transparent 1px
    ),
    /* Vertical grid lines */
      linear-gradient(90deg, #029c1633 1px, transparent 1px);
  background-size: 50px 50px; /* Grid density for a lens effect */
  z-index: 2;
  opacity: 0.7;
}
