* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}
html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

body {
  display: flex;
  scroll-snap-type: y mandatory; /* Snapper til vertikal scrolling */
  overflow-y: scroll;
  scroll-behavior: smooth;
  min-height: 100svh;
  font-family: "Roboto Slab", serif;
  width: 100vw;
}

header {
  width: 100vw;
  display: flex;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #951111;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  flex-wrap: wrap;
  z-index: 100;
}

a {
  text-decoration: none;
  color: #181718;
  transition: color 0.6s ease; /* Smooth color transition */
}

a:hover {
  color: #e97d35;
  animation: textPulseGlow 2.5s infinite; /* Apply pulsating glow animation */
}

/* Pulsating effect on hover */
@keyframes textPulseGlow {
  0% {
    text-shadow: 0 0 14px rgba(233, 125, 53, 0.8),
      0 0 20px rgba(233, 125, 53, 0.6);
  }
  50% {
    text-shadow: 0 0 25px rgba(233, 125, 53, 0.2),
      0 0 30px rgba(233, 125, 53, 0.8);
  }
  100% {
    text-shadow: 0 0 10px rgba(233, 125, 53, 0.8),
      0 0 20px rgba(233, 125, 53, 0.6);
  }
}


ul {
  display: flex;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  column-gap: 20px;
  color: #181718;
  padding-right: 30px;
}

li {
  display: flex;
  justify-content: center;
  font-size: 0.7rem;
}

.highlight {
  font-size: 1.2rem;
  color: #951111;
}

section {
  scroll-snap-align: start; /* Snapper hver seksjon til toppen */
  min-height: 100vh; /* Sørger for at hver seksjon fyller hele skjermen */
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 2rem;
  padding: 20px 40px;
  background-color: hsla(240, 96%, 9%, 5%);
  color: antiquewhite;
  border-radius: 50px;
  letter-spacing: 0.6px;
}

h3 {
  font-size: 2rem;
  margin-bottom: 60px;
  text-align: center;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 60px;
  text-align: center;
}

h5 {
  font-size: 1.5rem;
  color: antiquewhite;
  margin-bottom: 10px;
  text-align: center;
  padding-left: 30px;
}

p {
  font-size: 0.8rem;
  letter-spacing: 0.6px;
  line-height: 1.2;
  margin: 20px 20px 80px 20px;
}

.sun-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

.sun-container p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
}

.gas-giants p {
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 1.2;
  margin: 20px 20px 20px 20px;
}

.end-credits {
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 130px;
  background-image: url(./assets/space_bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: aliceblue;
}

code {
  color: crimson;
  padding: 2px;
  font-size: 105%;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: aliceblue;
  width: 100%;
  /* background-color: rgb(0, 22, 5); */
}

#the_sun {
  color: aliceblue;
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./assets/sun_ball.png);
  background-size: cover;
  background-attachment: fixed;
  /* height: 100%; */
  /* color: aliceblue; */
}

#the_sun p{
  font-size: clamp(.5rem, 1rem, 3rem);
}

.bg-img {
  /* min-height: 100vh; */
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-attachment: fixed;
  display: grid;
  place-items: center;
}

.bg-video {
  position: relative;
  min-height: 100vh; /* Ensure it covers the full screen height */
  display: flex;
  justify-content: center;
  align-items: center;
}

#bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(3px);
}

#bgVideo2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#first {
  background: url(./assets/bassfilm.mp4);
  background-size: cover;
}

#eight_planets {
  display: flex;
  background-image: url(./assets/solar_system.jpg);
  background-size: contain;
  background-color: black;
}

#eight_planets h1 {
  padding-top: 20rem;
font-size: clamp(.5rem, 1rem, 3rem);
}

#rocky_planets {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
  background-image: url(./assets/space_bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

#gas-giants {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  padding-top: 130px;
  background-image: url(./assets/space_bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: auto;
}

@media (max-width: 800px) {
  #planet_display {
    flex-direction: column;
    align-items: center;
  }
  #planet_display > div {
    margin-bottom: 20px;
  }
}

#planet_display {
  display: flex;
  flex-direction: row;
  /* align-content: center; */
  justify-content: space-around;
  gap: 40px;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
}

#planet_display p {
  font-size: 0.5rem;
}

#end_credits {
  background-image: url(./assets/videos/nightsky.mp4);
  background-size: cover;
}

.paragraph-container {
  padding: 20px 20px 20px 20px;
  display: flex;
  min-width: 200px;
}

.paragraph-container a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.planets {
  max-height: 100px;
  animation: levitate 3s ease-in-out infinite;
}

@keyframes levitate {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.planets:hover {
  transform: scale(1.05); /* Slightly enlarge on hover for added effect */
}

/* Apply different animation delays to each image for out-of-sync effect */
.planets:nth-child(1) {
  animation-delay: 0s;
}

.planets:nth-child(2) {
  animation-delay: 0.5s;
}

.planets:nth-child(3) {
  animation-delay: 1s;
}

.planets:nth-child(4) {
  animation-delay: 1.5s;
}

/* Specific for smartphone */
@media (max-width: 600px) {
  #bgVideo {
    height: 100%;
  }
}

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Ensure items are evenly spaced */
    align-items: center; /* Center the items vertically */
    padding: 10px 5px; /* Adjust padding for smaller screens */
  }

  ul {
    display: flex;
    flex-direction: row; /* Ensure items are side by side */
    font-size: 0.8rem;
    justify-content: space-between; /* Space out the nav items */
    align-items: center; /* Center vertically */
    width: 100%; /* Make sure the ul takes the full width */
    padding-left: 0;
    padding-right: 0;
  }

  li {
    flex-direction: row;
    font-size: 0.8rem; /* Reduce the font size for smaller screens */
    text-align: center; /* Center align the text inside the list items */
    margin-bottom: 0; /* Remove any margin to avoid stacking */
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 1.2rem;
    padding: 10px 20px;
  }

  a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 1rem; /* Adjust link font size for mobile */
  }

  p {
    font-size: 1rem;
    padding: 10px 0;
  }

  code {
    font-size: 1rem;
  }
  article {
    display: flex;
    width: 95%;
    padding: 10px;
    justify-content: center;
  }

  .bg-img {
    background-size: contain; /* Ensure the whole image is visible */
    background-position: center; /* Center the image */
    background-attachment: scroll;
  }
}
